In [164]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import db_password

In [165]:
# Create columns for provisional database

df = pd.DataFrame(columns = ["Year", "Ticker", "Company", "Sector", "numEmployees", "netIncome", "netIncome_per_emp", "grossProfit", "grossProfit_per_emp", "operatingIncome", "operatingIncome_per_emp", "totalRevenue", "totalRevenue_per_emp", "totalOperatingExpenses", "totalOperatingExpenses_per_emp", "mostly_remote"])

In [166]:
# Sample

df

Empty DataFrame
Columns: [Year, Ticker, Company, Sector, numEmployees, netIncome, netIncome_per_emp, grossProfit, grossProfit_per_emp, operatingIncome, operatingIncome_per_emp, totalRevenue, totalRevenue_per_emp, totalOperatingExpenses, totalOperatingExpenses_per_emp, mostly_remote]
Index: []

In [167]:
# Import 2021 employee headcount data

df2 = pd.read_csv('data/employee_data/snp_500_companies_employees.csv', thousands = ",", encoding='windows-1252')

# Create tickers list

tickers = df2["Ticker"]

# Create companies list

companies = df2["Company"]

# Create Sectors list

sectors = df2["Sector"]

# Create num_employees list

num_employees = df2["numEmployees"]

In [168]:
# Set provisional database columns' values to respective lists

df["Ticker"] = tickers

df["Company"] = companies

df["Year"] = 2021

df["Sector"] = sectors

df["numEmployees"] = num_employees

In [169]:
# Convert necessary columns to number

df["netIncome"] = pd.to_numeric(df.netIncome)

df["grossProfit"] = pd.to_numeric(df.grossProfit)

df["operatingIncome"] = pd.to_numeric(df.operatingIncome)

df["totalRevenue"] = pd.to_numeric(df.totalRevenue)

df["totalOperatingExpenses"] = pd.to_numeric(df.totalOperatingExpenses)

In [170]:
df.dtypes

Year                                int64
Ticker                             object
Company                            object
Sector                             object
numEmployees                        int64
netIncome                         float64
netIncome_per_emp                  object
grossProfit                       float64
grossProfit_per_emp                object
operatingIncome                   float64
operatingIncome_per_emp            object
totalRevenue                      float64
totalRevenue_per_emp               object
totalOperatingExpenses            float64
totalOperatingExpenses_per_emp     object
mostly_remote                      object
dtype: object

In [171]:
df

,Year,Ticker,Company,Sector,numEmployees,netIncome,netIncome_per_emp,grossProfit,grossProfit_per_emp,operatingIncome,operatingIncome_per_emp,totalRevenue,totalRevenue_per_emp,totalOperatingExpenses,totalOperatingExpenses_per_emp,mostly_remote
0,2021,WMT,Walmart Inc.,Retail Trade,2300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,AMZN,"Amazon.com, Inc.",Retail Trade,1298000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,ACN,Accenture plc,Technology Services,624000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,UPS,"United Parcel Service, Inc.",Transportation,543000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,HD,"Home Depot, Inc. (The)",Retail Trade,504800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,2021,FRT,Federal Realty Investment Trust,Finance,307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,2021,PEAK,"Healthpeak Properties, Inc.",Finance,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,2021,O,Realty Income Corporation,Finance,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,2021,HST,Host Hotels,Finance,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,2021,PNW,Pinnacle West Capital Corporation,Utilities,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
# Set random values for numeric values

a = df.netIncome.isnull()

rand_int = np.random.randint(1000000000, size = a.sum())

df.loc[a, 'netIncome'] = rand_int

b = df.grossProfit.isnull()

rand_int2 = np.random.randint(1000000000, size = b.sum())

df.loc[b, 'grossProfit'] = rand_int2

c = df.operatingIncome.isnull()

rand_int3 = np.random.randint(1000000000, size = c.sum())

df.loc[c, 'operatingIncome'] = rand_int3

d = df.totalRevenue.isnull()

rand_int4 = np.random.randint(1000000000, size = d.sum())

df.loc[d, 'totalRevenue'] = rand_int4

e = df.totalOperatingExpenses.isnull()

rand_int5 = np.random.randint(1000000000, size = e.sum())

df.loc[e, 'totalOperatingExpenses'] = rand_int5

In [173]:
df

,Year,Ticker,Company,Sector,numEmployees,netIncome,netIncome_per_emp,grossProfit,grossProfit_per_emp,operatingIncome,operatingIncome_per_emp,totalRevenue,totalRevenue_per_emp,totalOperatingExpenses,totalOperatingExpenses_per_emp,mostly_remote
0,2021,WMT,Walmart Inc.,Retail Trade,2300000,660520661,NaN,88360892,NaN,825859804,NaN,172196312,NaN,743101160,NaN,NaN
1,2021,AMZN,"Amazon.com, Inc.",Retail Trade,1298000,980173304,NaN,705567297,NaN,894557137,NaN,77381297,NaN,82905570,NaN,NaN
2,2021,ACN,Accenture plc,Technology Services,624000,11874548,NaN,135634647,NaN,906664141,NaN,290468786,NaN,577047230,NaN,NaN
3,2021,UPS,"United Parcel Service, Inc.",Transportation,543000,471977569,NaN,267986240,NaN,602474640,NaN,174914891,NaN,209622062,NaN,NaN
4,2021,HD,"Home Depot, Inc. (The)",Retail Trade,504800,17804705,NaN,263857298,NaN,998245511,NaN,42049250,NaN,116114910,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,2021,FRT,Federal Realty Investment Trust,Finance,307,276298835,NaN,380831822,NaN,89733225,NaN,836538368,NaN,532057165,NaN,NaN
494,2021,PEAK,"Healthpeak Properties, Inc.",Finance,217,103844190,NaN,891775038,NaN,484213025,NaN,669440056,NaN,683590735,NaN,NaN
495,2021,O,Realty Income Corporation,Finance,210,717209057,NaN,59652794,NaN,544687195,NaN,104288784,NaN,932769499,NaN,NaN
496,2021,HST,Host Hotels,Finance,163,54576295,NaN,967390772,NaN,70187780,NaN,424928860,NaN,781929374,NaN,NaN
497,2021,PNW,Pinnacle West Capital Corporation,Utilities,88,76803934,NaN,23293149,NaN,685440853,NaN,264999302,NaN,960626673,NaN,NaN

In [174]:
# Set random values for mostly_remote column, 1 or 0

f = df.mostly_remote.isnull()

rand_int6 = np.random.randint(2, size = f.sum())

df.loc[f, 'mostly_remote'] = rand_int6

In [175]:
df.dtypes

Year                               int64
Ticker                            object
Company                           object
Sector                            object
numEmployees                       int64
netIncome                          int32
netIncome_per_emp                 object
grossProfit                        int32
grossProfit_per_emp               object
operatingIncome                    int32
operatingIncome_per_emp           object
totalRevenue                       int32
totalRevenue_per_emp              object
totalOperatingExpenses             int32
totalOperatingExpenses_per_emp    object
mostly_remote                      int32
dtype: object

In [176]:


df

,Year,Ticker,Company,Sector,numEmployees,netIncome,netIncome_per_emp,grossProfit,grossProfit_per_emp,operatingIncome,operatingIncome_per_emp,totalRevenue,totalRevenue_per_emp,totalOperatingExpenses,totalOperatingExpenses_per_emp,mostly_remote
0,2021,WMT,Walmart Inc.,Retail Trade,2300000,660520661,NaN,88360892,NaN,825859804,NaN,172196312,NaN,743101160,NaN,0
1,2021,AMZN,"Amazon.com, Inc.",Retail Trade,1298000,980173304,NaN,705567297,NaN,894557137,NaN,77381297,NaN,82905570,NaN,1
2,2021,ACN,Accenture plc,Technology Services,624000,11874548,NaN,135634647,NaN,906664141,NaN,290468786,NaN,577047230,NaN,0
3,2021,UPS,"United Parcel Service, Inc.",Transportation,543000,471977569,NaN,267986240,NaN,602474640,NaN,174914891,NaN,209622062,NaN,0
4,2021,HD,"Home Depot, Inc. (The)",Retail Trade,504800,17804705,NaN,263857298,NaN,998245511,NaN,42049250,NaN,116114910,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,2021,FRT,Federal Realty Investment Trust,Finance,307,276298835,NaN,380831822,NaN,89733225,NaN,836538368,NaN,532057165,NaN,1
494,2021,PEAK,"Healthpeak Properties, Inc.",Finance,217,103844190,NaN,891775038,NaN,484213025,NaN,669440056,NaN,683590735,NaN,1
495,2021,O,Realty Income Corporation,Finance,210,717209057,NaN,59652794,NaN,544687195,NaN,104288784,NaN,932769499,NaN,0
496,2021,HST,Host Hotels,Finance,163,54576295,NaN,967390772,NaN,70187780,NaN,424928860,NaN,781929374,NaN,0
497,2021,PNW,Pinnacle West Capital Corporation,Utilities,88,76803934,NaN,23293149,NaN,685440853,NaN,264999302,NaN,960626673,NaN,0

In [177]:
# Populate numeric values/employee columns

df["netIncome_per_emp"] = df["netIncome"]/df["numEmployees"]

df["grossProfit_per_emp"] = df["grossProfit"]/df["numEmployees"]

df["operatingIncome_per_emp"] = df["operatingIncome"]/df["numEmployees"]

df["totalRevenue_per_emp"] = df["totalRevenue"]/df["numEmployees"]

df["totalOperatingExpenses_per_emp"] = df["totalOperatingExpenses"]/df["numEmployees"]

df

,Year,Ticker,Company,Sector,numEmployees,netIncome,netIncome_per_emp,grossProfit,grossProfit_per_emp,operatingIncome,operatingIncome_per_emp,totalRevenue,totalRevenue_per_emp,totalOperatingExpenses,totalOperatingExpenses_per_emp,mostly_remote
0,2021,WMT,Walmart Inc.,Retail Trade,2300000,660520661,2.871829e+02,88360892,3.841778e+01,825859804,3.590695e+02,172196312,7.486796e+01,743101160,3.230875e+02,0
1,2021,AMZN,"Amazon.com, Inc.",Retail Trade,1298000,980173304,7.551412e+02,705567297,5.435804e+02,894557137,6.891812e+02,77381297,5.961579e+01,82905570,6.387178e+01,1
2,2021,ACN,Accenture plc,Technology Services,624000,11874548,1.902972e+01,135634647,2.173632e+02,906664141,1.452987e+03,290468786,4.654948e+02,577047230,9.247552e+02,0
3,2021,UPS,"United Parcel Service, Inc.",Transportation,543000,471977569,8.692036e+02,267986240,4.935290e+02,602474640,1.109530e+03,174914891,3.221269e+02,209622062,3.860443e+02,0
4,2021,HD,"Home Depot, Inc. (The)",Retail Trade,504800,17804705,3.527081e+01,263857298,5.226967e+02,998245511,1.977507e+03,42049250,8.329883e+01,116114910,2.300216e+02,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,2021,FRT,Federal Realty Investment Trust,Finance,307,276298835,8.999962e+05,380831822,1.240495e+06,89733225,2.922906e+05,836538368,2.724881e+06,532057165,1.733085e+06,1
494,2021,PEAK,"Healthpeak Properties, Inc.",Finance,217,103844190,4.785447e+05,891775038,4.109562e+06,484213025,2.231396e+06,669440056,3.084977e+06,683590735,3.150188e+06,1
495,2021,O,Realty Income Corporation,Finance,210,717209057,3.415281e+06,59652794,2.840609e+05,544687195,2.593749e+06,104288784,4.966133e+05,932769499,4.441760e+06,0
496,2021,HST,Host Hotels,Finance,163,54576295,3.348239e+05,967390772,5.934913e+06,70187780,4.305999e+05,424928860,2.606926e+06,781929374,4.797113e+06,0
497,2021,PNW,Pinnacle West Capital Corporation,Utilities,88,76803934,8.727720e+05,23293149,2.646949e+05,685440853,7.789101e+06,264999302,3.011356e+06,960626673,1.091621e+07,0

In [178]:
df.dtypes

Year                                int64
Ticker                             object
Company                            object
Sector                             object
numEmployees                        int64
netIncome                           int32
netIncome_per_emp                 float64
grossProfit                         int32
grossProfit_per_emp               float64
operatingIncome                     int32
operatingIncome_per_emp           float64
totalRevenue                        int32
totalRevenue_per_emp              float64
totalOperatingExpenses              int32
totalOperatingExpenses_per_emp    float64
mostly_remote                       int32
dtype: object

In [179]:
# Export to SQL database

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/group_project"

engine = create_engine(db_string)

df.to_sql(name='provisional_database', con=engine)